#example{
  background-color: yellow;
}
.text{
  text-align: right;
  font-size: 30px;
  font-family: Agency FB;
  color: blue;
}
.go{
 text-align: center;
 font-size: 35px;
 color: red;
 font-family: forte;
}
.stop{
  color: green;
  font-family: Agency FB;
  font-size: 40px;
}
.blue{
  color: pink;
  font-size: 38px;
  font-family: forte;
  text-align: right;
}